html {
    background:#2c353a;
    color:#C0C0C0;
}

h1, h2{
    color:#b8bec6;
}

.name-header {
    font-size:2rem;
    font-family:'Signika Negative', sans-serif;
    text-indent: 15px;
}

.youtube {
    display:block;
    text-indent:25px;
}

.first-image {
    width:250px;
    height:320px;
    padding: 25px;
    float:left;
}

.first-header {
    display:inline-block;
}

.first-p {
    display:block;
          
}

.custom_button {
    padding-bottom: 10px;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
}
  
.second-header {
    display:inline;

}

.experience {
    display:inline-block;
}

a {
    color:#87CEEB;
}
  
ul li {
    display:inline-block;
    margin: 0 10px;   
}

.third-header {
    display:inline;
}

.skills {
    display:inline-block;
}

.fourth-div {
    height:10px;
}

.fourth-header {
    position:relative;
}

.certification {
   position:relative;
}

.other {
    display:inline;
}

.project-links {
    display:inline-block;
}

.isolated {
    text-align:right;
}

.project_container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.p_isolated {

    display: flex;
    justify-content: center;
    align-items: center;
}

.project_links {
    display:flex;
    justify-content: center;
    align-items: center;
}




