* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balthazar', serif;
}
 /* background-image: url(https://images.pexels.com/photos/1529881/pexels-photo-1529881.jpeg); */

body {
     min-height: 100vh;
     background-image: url(https://images.pexels.com/photos/1529881/pexels-photo-1529881.jpeg);
     background-size: cover;
     background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #195190FF;
}