/* device viewports */

/* index_styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balthazar', serif;
}

body {
    height: 100vh;
    background-color:  #1C1C1BFF;
    background-image: url(https://images.pexels.com/photos/1529881/pexels-photo-1529881.jpeg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 1 rem;
}

a:hover {
    color: #195190FF ;
}




















/* projects.html */

.project-container {
    display:flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}

.p-isolated {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}

.project-links-2{
    display:flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}





